 * {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.top {
    display: flex;
    font-size: 2vw;
    color: blue;
    width: 100%;
    min-height: 60vh;
    background-image: url('in.png');
    background-size: cover;
    background-position: center;
}

.top .overlay {
    position: relative;
    width: 100%;
    min-height: inherit;
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: rgb(4, 8, 8);
    bottom: 5%;
}

.text h1 {
    font-weight: 600;
    font-size: 4vh;
}

.text .image {
    background-image: url(download.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 140px;
    margin-top: 20px;
}

.rtext {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}

.rtext p {
    font-size: 12px;
}

.bottom {
    display: flex;
    width: 100%;
    min-height: 40vh;
}

.b1 {
    width: 30%;
    min-height: inherit;
    background-image: url(b2.png);
    background-size: cover;
    background-position: center;
}

.b1 h1 {
    color: #000;
    text-align: center;
    padding: 15px;
}

.b1 p {
    text-align: center;
    padding: 10px;
}

.b2 {
    width: 30%;
    min-width: inherit;
    display: flex;
    flex-direction: column;
}

.b2 .up {
    width: 100%;
    min-height: 20vh;
    background-image: url(b3.png);
    background-size: cover;
    background-position: center;
}

.b2 .up h1 {
    text-align: center;
    padding: 15px;
}

.b2 .up p {
    text-align: center;
    padding: 10px;
}

.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url(b1.jpg);
    background-size: cover;
    background-position: center;
}

.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 20vh;
}

.b3 {
    width: 40%;
    min-height: inherit;
    background-image: url(b4.png);
    background-size: cover;
    background-position: center;
}

.b3 .overlay {
    justify-content: right;
    font-size: 4vw;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vw 3vh;
}

.b3 .overlay p {
    padding: 1.2vh;
}

@media (max-width: 1200px) {
    .b3 .overlay {
        font-size: 3vw;
    }
}

@media (max-width: 700px) {
    .rtext {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .text {
        flex-direction: column;
    }

    .text h1 {
        font-size: 5vh;
    }

    .rtext,
    .icon {
        flex-direction: column;
        align-items: flex-start;
    }

    .rtext p {
        margin: 10px;
    }

    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .b1,
    .b2,
    .b3 {
        width: 100%;
        min-height: 30vh;
    }

    .b1 h1,
    .b1 p,
    .b2 .up h1,
    .b2 .up p {
        text-align: center;
        padding: 10px;
    }

    .b3 {
        background-position: left;
    }
}
